{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="column">
        <h1>1. Choose column categories</h1>
        <form method="post">
            <label for="category1">Column 1</label>
            <br>
            <select name="category1"
                value="{{ request.form['category1'] }}">
                <option value="random_int">ID</option>
                <option value="name">Name</option>
                <option value="country">Country</option>
                <option value="address">Address</option>
                <option value="job">Job</option>
                <option value="phone_number">Phone Number</option>
            </select>
            <br>

            <label for="category2">Column 2</label>
            <br>
            <select name="category2"
                value="{{ request.form['category2'] }}">
                <option value="random_int">ID</option>
                <option value="name">Name</option>
                <option value="country">Country</option>
                <option value="address">Address</option>
                <option value="job">Job</option>
                <option value="phone_number">Phone Number</option>                
            </select>
            <br>        

            <label for="category3">Column 3</label>
            <br>
            <select name="category3"
                value="{{ request.form['category3'] }}">
                <option value="random_int">ID</option>
                <option value="name">Name</option>
                <option value="country">Country</option>
                <option value="address">Address</option>
                <option value="job">Job</option>
                <option value="phone_number">Phone Number</option>                
            </select>
            <br>

            <label for="category4">Column 4</label>
            <br>
            <select name="category4"
                value="{{ request.form['category4'] }}">
                <option value="random_int">ID</option>
                <option value="name">Name</option>
                <option value="country">Country</option>
                <option value="address">Address</option>
                <option value="job">Job</option>
                <option value="phone_number">Phone Number</option>                
            </select>
            <br>
        <h1>2. Choose amount of rows</h1>
            <label for="row_count">Number of rows</label>
            <br>
            <input name="row_count"
                    >{{ request.form['row_count'] }}</input>
            <br>
            <br>
            <button type="submit">Generate Random Dataset</button>
        </form>
        <h1>3. CSV Export</h1>
        <form action="/export" method="POST">
            <input type="submit" value="Export to CSV">
        </form>
    </div>

    <div class="column">
        <table>
            {% for row in matrix %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}